<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <body>
    <nav class='navbar navbar-default navbar-static-top'>
      <div class="container">
        <ul class="nav navbar-nav">

          <li><a class="navbar-link" href="{% url 'index' %}">DJANGO INDEX PAGE</a></li>
          <li><a class="navbar-link" href="{% url 'admin:index'%}">ADMIN PAGE</a></li>
          <li><a class="navbar-link" href="{% url 'basic_app:register'%}">REGISTRATION PAGE</a></li>

          {% if user.is_authenticated %}
            <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'basic_app:user_login' %}">Login Required</a></li>
          {% endif %}
        </ul>

      </div>

    </nav>

    <div class="container">

    {% block body_block %}

    {% endblock %}

    </div>
  </body>
</html>
